<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   
   <context:annotation-config/>
   <bean id="TextEditor" class="com.ibm.spring.TextEditor" scope="singleton"></bean>
   <bean id="spellChecker1" class="com.ibm.spring.SpellChecker" scope="singleton"></bean>
   
   <bean id="spellChecker2" class="com.ibm.spring.SpellChecker" scope="singleton"></bean>

	<bean id="jCollection" class="com.ibm.spring.javaCollection">
	<property name="addressList">
		<list>
			<value>INDIA</value>
			<value>Pakistan</value>
			<value>USA</value>
			<value>Russia</value>
		</list>
	</property>
	<property name="addressSet">
		<set>
			<value>INDIA</value>
			<value>Pakistan</value>
			<value>USA</value>
			<value>Russia</value>
		</set>
	</property>
	<property name="addressMap">
		<map>
            <entry key = "1" value = "INDIA"/>
            <entry key = "2" value = "Pakistan"/>
            <entry key = "3" value = "USA"/>
            <entry key = "4" value = "Russia"/>
        </map>
	</property>
	<property name="addressProp">
		<props>
			<prop key = "One">INDIA</prop>
            <prop key = "One">INDIA</prop>
            <prop key = "Two">Pakistan</prop>
            <prop key = "Three">USA</prop>
            <prop key = "Four">Russia</prop>
		</props>
	</property>
	</bean>
</beans>